<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
               Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="training-equipmenmt-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=freeweights,kettlebells" class="dropdown-item">Weights &amp; kettlebells</a>
                <a href="{% url 'products' %}?category=spinning" class="dropdown-item">Spin Bikes</a>
                <a href="{% url 'products' %}?category=yogamats" class="dropdown-item">Yoga Mats</a>
                <a href="{% url 'products' %}?category=freeweights,kettlebells,spinning,yogamats" class="dropdown-item">All Training Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="trainers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Trainers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="trainers-link">
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_trainer' %}" class="dropdown-item">Add Trainer</a>
                {% endif %}
                <a href="{% url 'view_trainers' %}" class="dropdown-item">View All Trainers</a>

                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}" id="about-link"  aria-haspopup="false" aria-expanded="false">
               About
            </a>
        </li>
    </ul>
</div>