{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="author" content="Michael Cloran" >
        <meta name="description" content="Fitness website, training website, buy weights, buy kettlebells, enroll on fitness programs">
        <meta name="keywords" content="weights, kettlebells, spinning, yoga, stretching, workout programs, Fitnaess Fanatic Arklow, Arklow">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-chrome-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/android-chrome-512x512.png' %}">
        <link rel="icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" crossorigin="use-credentials" href="{% static 'images/site.webmanifest' %}">

        <!-- mail chimp -->
        <style type="text/css">
          #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cfc7fde0a2.js" crossorigin="anonymous"></script>

        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>Fitness Fanatic {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
       <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font text-black my-0"><strong>Fitness Fanatic</strong></h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                      <input class="form-control border border-black rounded-0" id="q" aria-label="Search site" aria-labelledby="q" type="text" name="q" placeholder="Search our site">
                      <label for="q" class="sr-only">Search</label>
                      <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" aria-label="Submit button" type="submit">
                          <span class="icon">
                            <i class="fas fa-search"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                            </div>
                          </a>
                          <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                              {% endif %}
                              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                          </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                              <p class="my-0">
                                {% if grand_total %}
                                  ${{ grand_total|floatformat:2 }}
                                {% else %}
                                  $0.00
                                {% endif %}
                              </p>
                            </div>
                          </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile_top_header.html' %}
            {% include 'includes/main_nav.html' %}
          </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
            </div>
        </div>
       </header>

       {% if messages %}
          <div class="message-container">
            {% for message in messages %}
              {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
       {% endif %}

       {% block page_header %}
       {% endblock %}

       {% block content %}
       {% endblock %}

       {% block footer %}
          <!-- Footer -->
          <footer class="container-wrapper">
            <div class="container quotes-container content-container">
              <section class="footer">
                <div class="row">
                  <div class="col-12 page-header mb-4">
                    <h2 class="text-uppercase" style="color:#0000FF">Stay in touch:</h2>
                    <hr class="block-divider block-divider--short">
                  </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <h3 style="color:#0000FF">Social</h3>
                  <p style="color:#0000FF">Keep up to date with all our latest offers</p>
                  <a href="https://www.facebook.com/profile.php?id=61566839004870" target="_blank" rel="external"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                </div>
                <div class="col-12 col-md-6">
                  <h2 style="color:#0000FF">Subscribe!</h2>
                  <p style="color:#0000FF">Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                  <!-- Mailchimp signup form here -->
                  <div id="mc_embed_shell">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                    
                  <div id="mc_embed_signup">
                      <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=ae713011b13d60323320acc79&amp;id=89a75ef283&amp;f_id=008fece3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                          <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                          <div id="mce-responses" class="clear foot">
                              <div class="response" id="mce-error-response" style="display: none;"></div>
                              <div class="response" id="mce-success-response" style="display: none;"></div>
                          </div>
                      <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                          <input type="text" name="b_ae713011b13d60323320acc79_89a75ef283" tabindex="-1" value="">
                      </div>
                          <div class="optionalParent">
                              <div class="clear foot">
                                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                  <p style="margin: 0px auto;"><a href="http://eepurl.com/i0s7s-" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                              </div>
                          </div>
                      </div>
                      </form>
                  </div>
                </div>
              
                </div>
              </div>
            </section>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 text-center">
                  <p style="color:#0000FF">This site is for educational purposes only</p>
            </div>
          </div>
          </footer>
          <!-- /.footer -->
       {% endblock %}

       {% block postloadjs %}
        <script type="text/javascript">
          $('.toast').toast('show');
        </script>

      <!-- mail chimp -->
      <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
      <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
       {% endblock %}
       
  </body>
</html>