{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="workout-program-form default-hidden">{{ workout_form | crispy }}</div>
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#id_image').change(function() {
            var file = $('#id_image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    <script type="text/javascript">
        $("#id_category").change(function() {
            let selectedElement = document.querySelector("#id_category");
            let category = selectedElement.value;
            if(category == 7){
                $(".workout-program-form").removeClass("default-hidden");
                document.getElementById("id_trainer").required = true;
                document.getElementById("id_class_size").required = true;
                document.getElementById("id_start_date").required = true;
                document.getElementById("id_number_weeks").required = true;
                document.getElementById("id_end_date").required = true;
            }else{
                let resultBool = $(".workout-program-form").hasClass('default-hidden');
                if(resultBool == false){
                    $(".workout-program-form").addClass("default-hidden");
                    document.getElementById("id_trainer").required = false;
                    document.getElementById("id_class_size").required = false;
                    document.getElementById("id_start_date").required = false;
                    document.getElementById("id_number_weeks").required = false;
                    document.getElementById("id_end_date").required = false;
                }
            }
        });

        let selectedElement = document.querySelector("#id_category");
        if(selectedElement.value == 7){
            $(".workout-program-form").removeClass("default-hidden");
            document.getElementById("id_trainer").required = true;
            document.getElementById("id_class_size").required = true;
            document.getElementById("id_start_date").required = true;
            document.getElementById("id_number_weeks").required = true;
            document.getElementById("id_end_date").required = true;
        }
    </script>

{% endblock %}